// 颜色定义规范
$color-background-d = rgba(255, 255, 255, 0.3)
$color-background = #f9f9f9
$color-highlight-background = #fff
$color-theme = #FF4E00
$color-theme-d = rgba(255, 205, 49, 0.5)
$color-sub-theme = #d93f30
$color-text = #464646
$color-text-t = #FF4E00
$color-text-dd = #3f3f3f
$color-text-d = #696671
$color-text-ddd = #b6b6b6
$color-text-l = #b1b1b1
$color-text-ll = #3f3f3f
$color-text-n = #999999

$color-orange = #FF4E00
$color-kac = #BC6C00

// 主色调
$color-main = #706B82
$color-circle = #5E5A70

//主色调
$color-master = #706B82
$color-master-gray = #F9F9F9//主色调2

// 遮罩
$color-mask-bgc = rgba(54, 53, 71, .5)

// 中奖色
$color-prize-bc = #F04F35

// 标准色
$color-white = #ffffff
$color-yellow = #ffe306

//// 横线色值
$color-row-line = #F0EFF5
//// 竖线色值
$color-col-line = #F0EFF5

$color-orange = #FF4E00

// 按钮颜色
$color-button = #706B82
$color-button-act = #595569
$color-button-dis = #B8B5C1

// ellipse
$color-ellipse = #4A4657

// 边距
$padding-all = 12px

//字体定义规范
$font-size-small-s = 10px
$font-size-small = 12px
$font-size-medium = 14px
$font-size-medium-x = 16px
$font-size-large = 18px
$font-size-large-m = 20px
$font-size-large-x = 22px
$font-size-large-xx = 24px
